.list{
    Table{
        background-color: #f7f5f5;
        thead{
            font-size: 18px;
        }
        img{
            height: 109.2px;
            width: 109.2px;
        }
    }
}

.filter{
    padding: 0 5rem;
    label{
        margin: 0 3.5rem;
    }
}