.search .container{
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
    .search-label{
        position: relative;
        cursor: pointer;
        input{
            width: 800px;
            padding: 10px;
            font-size: 24px;
            font-style: italic;
            color: #444;
            box-sizing: border-box;
            outline: none;
        }
        .search-icon{
            position: absolute;
            top: 20px;
            font-size: 18px;
            color: #555;
            right:18px;
        }
    }
    .search-loading{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .show{
        display: inline-block;
    }
    .hide{
        display: none;
    }
    
}

